@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  font-family: "Poppins", sans-serif;
}

:root {
  --yellow-text-color: #ffce1f;
  --green-text-color: #00880c;
  --black-text-color: #000;
  --grey-text-color: #b3b4bb;
}

/* NAVBAR */
.navbar {
  background-color: white;
  z-index: 100;
}
.navbar .navbar-logo {
  font-weight: 600;
}
.button {
  background: #ffce1f;
}

/* HOME */
#home {
  background-image: url(assets/home-section/home-bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
}
.home-text h2 {
  color: var(--text-color);
  font-weight: 600;
  font-size: 35px;
}
.home-text p {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
}
.card {
  width: 30rem;
  box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.1);
  left: 50%;
  transform: translateX(-100%);
}

.card-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20%;
  z-index: 5;
}

/* SECOND SECTION */
.driver-bg {
  margin-top: 40px;
  margin-left: -70px;
}

.driver-only {
  margin-top: 140px;
  margin-left: -70px;
  animation-name: move;
  animation-duration: 3s; /* Animation lasts 5 seconds */
  animation-iteration-count: 1; /* Animation repeats  */
  animation-fill-mode: forwards;
}

@keyframes move {
  from {
    transform: translateX(0px);
  } /* motorbike starts at position 0 */
  to {
    transform: translateX(200px);
  } /* motorbike moves 200px to the right */
}

.layer {
  width: 130%;
  height: 100%;
}

.content {
  margin-top: 117px;
}

.text-waryung h2 {
  color: var(--black-text-color);
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  width: 508px;
}

.text-waryung p {
  color: var(--green-text-color);
  font-size: 25px;
  font-weight: 600;
  width: 450px;
}

.point {
  margin-top: 30px;
  margin-left: 10px;
}

.point img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-right: 10px;
  margin-top: 3px;
}

.point p {
  color: var(--black-text-color);
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
}

.button {
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
}
/* SECOND SECTION END */

#makan {
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.judul {
  margin-bottom: 70px;
}

.food-img img {
  width: 100px;
}

.h1 {
  color: var(--black-text-color);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.h2 {
  color: var(--green-text-color);
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 27px;
}

span {
  color: var(--yellow-text-color);
}

.desc h3 {
  color: var(--black-text-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.desc p {
  color: var(--grey-text-color);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-makanan {
  border-radius: 9px;
  border: 1px solid #dcdbdb;
  background: #fff;
  gap: 25px;
  transition: 0.3s ease;
  width: 359.115px;
  padding: 30px;
  justify-content: center;
}

.card-makanan:hover {
  border: 1px solid #ffbe1e;
}

.pengecualian {
  justify-content: center;
}

/* Marquee */
.marquee-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
}

.marquee-content {
  display: flex;
  gap: 2rem;
  flex: 0 0 auto;
}

@keyframes marqueeScrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marqueeScrollRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.marqueeOne {
  display: flex;
  animation: marqueeScrollRight 25s linear infinite;
}

.marqueeTwo {
  display: flex;
  animation: marqueeScrollLeft 25s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

.rounded-circle {
  background-color: #ffbe1e;
}

.rounded-circle:hover {
  background-color: #ffe485;
}

.rounded-circle img {
  color: var(--green-text-color);
}

/* SECTION JAJANAN */
.rounded-circle {
  background-color: #ffbe1e;
}

.rounded-circle:hover {
  background-color: #ffe485;
}

.jajanan {
  height: 100vh;
}

.button-group {
  display: flex;
  gap: 10px; /* Adjust gap between buttons if needed */
}

.jajanan-card-wrapper {
  overflow: hidden; /* Hide scrollbar */
}

.jajanan-card {
  display: flex;
  overflow-x: scroll; /* Allow horizontal scrolling */
  scroll-behavior: smooth; /* Smooth scrolling */
  gap: 60px; /* Adjust gap between cards if needed */
}

.desc-jajanan{
  padding: 3px 22px;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.jajanan-card::-webkit-scrollbar {
  display: none;
}

.jajanan .h1 {
  font-weight: 700;
  font-size: 35px;
  width: 400px;
}
.jajanan h2 {
  font-weight: 700;
  font-size: 25px;
}

.card-jajanan {
  flex-shrink: 0; /* Prevent cards from shrinking */
  width: 280px;
  border-radius: 20px;
  border: 1px solid #dcdbdb;
  flex-shrink: 0; /* Prevent cards from shrinking */
}

.card-jajanan-img {
  width: 280px;
}

.card-jajanan h3 {
  font-size: 18px;
  font-weight: 600;
}

.card-jajanan p {
  color: var(--grey-text-color);
  font-weight: 600;
  font-size: 15px;
}

.card-jajanan .ijo {
  color: var(--tulisan-ijo);
  font-size: 14px;
}

.card-jajanan .bintang {
  font-size: 13px;
}

/* NAVBAR */
.navbar {
  background-color: white;
}
.navbar .navbar-logo {
  font-weight: 600;
}
.button {
  background: #ffce1f;
}

/* CUSTOMER SECTION */
.customer {
  background-color: #fff5c3;
  font-family: poppins;
}

.text-customer {
  margin-left: 90px;
  margin-top: 50px;
}

.text-customer p {
  color: var(--green-text-color);
  font-size: 21px;
  font-weight: 600;
  text-transform: capitalize;
}

.text-customer h2 {
  color: var(--black-text-color);
  font-size: 35px;
  font-weight: 700;
  text-transform: capitalize;
  width: 499px;
}

.text-customer h6 {
  color: var(--grey-text-color);
  font-size: 14px;
  font-weight: 500;
  white-space: pre-line;
}

.button {
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  margin-top: 2rem;
}

.up {
  animation: up 10s infinite ease-out;
  width: 350px;
  height: 210px;
  border-radius: 18px;
  background: #fff;
}

.down {
  animation: down 10s infinite ease-out;
  width: 350px;
  height: 210px;
  border-radius: 18px;
  background: #fff;
}

@keyframes up {
  0% {
    transform: translateY(60px);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(60px);
  }
}

@keyframes down {
  0% {
    transform: translateY(-60px);
  }
  50% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(-70px);
  }
}

.card-body {
  padding: 20px 30px 20px 30px;
}

.card-body h5 {
  color: var(--black-text-color);
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.card-body p {
  color: #484b5c;
  font-size: 13px;
  font-weight: 400;
}

.name {
  margin-left: 15px;
  margin-top: 2px;
}

.name h6 {
  color: var(--green-text-color);
  font-size: 13px;
  font-weight: 700;
  margin-top: 10px;
}

.name p {
  color: var(--grey-text-color);
  font-size: 11px;
  font-weight: 600;
  margin-top: -9px;
}

/* MAP */
.map-section {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-map h4 {
  font-weight: 600;
  color: black;
}

.map {
  max-width: 00px;
  margin: 0 auto;
}

/* RESPONSIF */

@media screen and (max-width: 922px) {
  /* SECOND SECTION */
  #second-section {
    margin-bottom: 90px;
  }

  .driver-bg {
    margin-top: 40px;
    margin-left: -70px;
    width: 300% !important;
    height: 300% !important;
  }

  .driver-only {
    margin-top: 40px;
    margin-left: -40px;
    animation-name: move;
    animation-duration: 5s; /* Animation lasts 5 seconds */
    width: 40%;
    height: 40%;
  }

  @keyframes move {
    from {
      transform: translateX(0px);
    } /* motorbike starts at position 0 */
    to {
      transform: translateX(90px);
    } /* motorbike moves 200px to the right */
  }

  .layer {
    display: none;
  }

  .content {
    margin-top: 17px;
  }

  .text-waryung h2 {
    font-size: 30px;
    width: 408px;
  }

  .text-waryung p {
    font-size: 17px;
  }

  .point {
    margin-top: 30px;
    margin-left: 10px;
  }

  .point p {
    font-size: 14px;
    display: inline;
  }

  .btn-pesan {
    font-size: 14px;
    border-radius: 10px;
  }
  /* SECOND SECTION END */

  /* CUSTOMER SECTION */
.customer {
  background-color: #fff5c3;
  font-family: poppins;
}

.text-customer {
  margin-left: 90px;
  margin-top: 50px;
}

.text-customer p {
  font-size: 21px;
}

.text-customer h2 {
  font-size: 25px;
  width: 470px;
}

.text-customer h6 {
  font-size: 15px;
  width: 540px;
}

.button {
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  margin-top: 2rem;
}

.col-lg-3 {
  margin-left: -110px;
  margin-top: 90px;
}

.card-body h5 {
  font-size: 18px;
}

.card-body p {
  font-size: 13px;
}
/* CUSTOMER SECTION END */

}
