@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, 
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    overflow: hidden;
}

:root {
    --yellow-text-color: #ffce1f;
    --green-text-color: #00880c;
    --black-text-color: #000;
  }

#makan{
    height: 100vh;
}

h2{
    color: var(--tulisan-ijo);
    font-size: 21px;
}

/* Second Section */

.driver-bg {
    margin-top: 40px;
    margin-left: -70px;
  }
  
  .driver-only {
    margin-top: 140px;
    margin-left: -70px;
    animation-name: move;
    animation-duration: 2s; /* Animation lasts 5 seconds */
    animation-iteration-count: infinite;  /* Animation repeats forever */
  }
  
  @keyframes move {
    from { transform: translateX(0px); }  /* motorbike starts at position 0 */
    to { transform: translateX(200px); }  /* motorbike moves 200px to the right */
  }
  
  .layer {
    width: 130%;
    height: 100%;
  }
  
  .content {
    margin-top: 117px;
  }
  
  .text h2 {
    color: var(--black-text-color);
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    width: 508px;
  }
  
  .text p {
    color: var(--green-text-color);
    font-size: 25px;
    font-weight: 600;
    width: 450px;
  }
  
  .point {
    margin-top: 30px;
    margin-left: 10px;
  }
  
  .point img {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-right: 10px;
    margin-top: 3px;
  
  }
  
  .point p {
    color: var(--black-text-color);
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
  }
  
  .btn-pesan {
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
  }
  







