@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  font-family: "Poppins", sans-serif;
}

:root {
  --yellow-text-color: #ffce1f;
  --green-text-color: #00880c;
  --black-text-color: #000;
  --grey-text-color: #b3b4bb;
}

section {
  height: 100vh;
}

/* NAVBAR */
.navbar {
  background-color: white;
  box-shadow: 0 0 1rem #dbdbdbe4;
  z-index: 100;
}
.navbar .navbar-logo {
  font-weight: 600;
}
.button {
  background: #ffce1f;
}

/* HOME */
#home {
  background-image: url(assets/home-section/home-bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
}
.home-text h2 {
  color: var(--text-color);
  font-weight: 600;
  font-size: 35px;
}
.home-text p {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
}
.card {
  width: 30rem;
  box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.1);
  left: 50%;
  transform: translateX(-100%);
}

.card-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20%;
  z-index: 5;
}

/* SECOND SECTION */
.driver-bg {
  margin-top: 40px;
  margin-left: -70px;
}

.driver-only {
  margin-top: 140px;
  margin-left: -70px;
  animation-name: move;
  animation-duration: 3s; /* Animation lasts 5 seconds */
  animation-iteration-count: 1; /* Animation repeats  */
  animation-fill-mode: forwards;
}

@keyframes move {
  from {
    transform: translateX(0px);
  } /* motorbike starts at position 0 */
  to {
    transform: translateX(200px);
  } /* motorbike moves 200px to the right */
}

.layer {
  width: 130%;
  height: 100%;
}

.content {
  margin-top: 117px;
}

.text-waryung h2 {
  color: var(--black-text-color);
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  width: 508px;
}

.text-waryung p {
  color: var(--green-text-color);
  font-size: 25px;
  font-weight: 600;
  width: 450px;
}

.point {
  margin-top: 30px;
  margin-left: 10px;
}

.point img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-right: 10px;
  margin-top: 3px;
}

.point p {
  color: var(--black-text-color);
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
}

.button {
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
}
/* SECOND SECTION END */

/* THIRD SECTION */
#makan {
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  background-image: url(assets/map-section/map-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.judul {
  margin-bottom: 70px;
}

.food-img img {
  width: 100px;
  margin-left: -5px;
}

.judul p {
  color: var(--green-text-color);
  font-size: 25px;
  font-weight: 500;
}

.judul h2 {
  color: var(--black-text-color);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  margin-top: -5px;
}

.desc h3 {
  color: var(--black-text-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.desc p {
  color: var(--grey-text-color);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-makanan {
  border-radius: 9px;
  border: 1px solid #dcdbdb;
  background: #fff;
  gap: 25px;
  transition: 0.3s ease;
  width: 359.115px;
  padding: 29px;
  justify-content: center;
}

.card-makanan:hover {
  border: 1px solid #ffbe1e;
}

.pengecualian {
  justify-content: center;
}

/* Marquee */
.marquee-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
}

.marquee-content {
  display: flex;
  gap: 2rem;
  flex: 0 0 auto;
}

@keyframes marqueeScrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marqueeScrollRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.marqueeOne {
  display: flex;
  animation: marqueeScrollRight 25s linear infinite;
}

.marqueeTwo {
  display: flex;
  animation: marqueeScrollLeft 25s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

.rounded-circle {
  background-color: #ffbe1e;
}

.rounded-circle:hover {
  background-color: #ffe485;
}

.rounded-circle img {
  color: var(--green-text-color);
}
/* THIRD SECTION END */

/* SECTION JAJANAN */
.rounded-circle {
  background-color: #ffbe1e;
}

.rounded-circle:hover {
  background-color: #ffe485;
}

.jajanan {
  padding: 3rem 5%;
  height: 100vh;
  overflow: visible;
  margin-top: 50px;
  margin-bottom: -50px;
}

.jajanan h1 {
  color: var(--black-text-color);
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 6px;
}

.jajanan h2 {
  color: var(--green-text-color);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  margin-top: -5px;
}

.jajanan span {
  color: var(--yellow-text-color);
}

.button-group {
  display: flex;
  gap: 10px; /* Adjust gap between buttons if needed */
}

.jajanan-card-wrapper {
  overflow: visible; /* Izinkan overflow terlihat */
  padding: 0 20px; /* Adjust padding as needed */
}

.jajanan-card {
  display: flex;
  overflow-x: auto; /* Izinkan scrolling horizontal */
  overflow-y: visible; /* Pastikan overflow vertikal terlihat */
  scroll-behavior: smooth; /* Scrolling halus */
  gap: 60px; /* Adjust gap between cards if needed */
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.jajanan-card::-webkit-scrollbar {
  display: none;
}

.desc-jajanan {
  padding: 3px 22px;
}

.jajanan .h1 {
  font-weight: 700;
  font-size: 35px;
  width: 400px;
}
.jajanan h2 {
  font-weight: 700;
  font-size: 25px;
  color: var(--green-text-color);
}

.card-jajanan {
  flex-shrink: 0; /* Prevent cards from shrinking */
  width: 280px;
  border-radius: 15px;
  border: 1px solid #dcdbdb;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  overflow: visible; /* Ensure the content doesn't overflow */
  position: relative; /* Pastikan z-index berfungsi */
  z-index: 1;
}

.card-jajan {
  transition: transform 0.3s ease-in-out; /* Smooth shrinking */
}

.card-jajanan:hover {
  /* box-shadow: 0px 30px 60px 0px rgba(92, 99, 105, 0.15); */
  border: white;
  z-index: 10; /* Muncul di depan saat di-hover */
}

.card-jajanan:hover .card-jajan {
  transform: scale(0.95); /* Scale down smoothly */
}

.card-jajanan img {
  width: 100%; /* Make image width 100% of the card */
  border-radius: 12px; /* Adjust border radius if needed */
}

.card-jajanan h3 {
  font-size: 18px;
  font-weight: 600;
}

.card-jajanan p {
  color: var(--grey-text-color);
  font-weight: 600;
  font-size: 15px;
}

.card-jajanan .ijo {
  color: var(--tulisan-ijo);
  font-size: 14px;
}

.card-jajanan .bintang {
  font-size: 13px;
}

.card-jajanan h3 {
  font-size: 18px;
  font-weight: 600;
}

.card-jajanan p {
  color: var(--grey-text-color);
  font-weight: 600;
  font-size: 15px;
}

.card-jajanan .ijo {
  color: var(--green-text-color);
  font-size: 14px;
}

.card-jajanan .bintang {
  font-size: 13px;
}
/* SECTION JAJAN END */

/* CUSTOMER SECTION */
.customer {
  background-color: #fff5c3;
  font-family: poppins;
}

.text-customer {
  margin-left: 90px;
  margin-top: 50px;
}

.text-customer p {
  color: var(--green-text-color);
  font-size: 21px;
  font-weight: 600;
  text-transform: capitalize;
}

.text-customer h2 {
  color: var(--black-text-color);
  font-size: 35px;
  font-weight: 700;
  text-transform: capitalize;
  width: 499px;
}

.text-customer h6 {
  color: #8d8d8d;
  font-size: 14px;
  font-weight: 500;
  white-space: pre-line;
}

.button {
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  margin-top: 2rem;
}

.up {
  animation: up 10s infinite ease-out;
  width: 350px;
  height: 210px;
  border-radius: 18px;
  background: #fff;
}

.down {
  animation: down 10s infinite ease-out;
  width: 350px;
  height: 210px;
  border-radius: 18px;
  background: #fff;
}

@keyframes up {
  0% {
    transform: translateY(60px);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(60px);
  }
}

@keyframes down {
  0% {
    transform: translateY(-60px);
  }
  50% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(-70px);
  }
}

.card-body {
  padding: 20px 30px 20px 30px;
}

.card-body h5 {
  color: var(--black-text-color);
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.card-body p {
  color: #484b5c;
  font-size: 13px;
  font-weight: 400;
}

.name {
  margin-left: 15px;
  margin-top: 2px;
}

.name h6 {
  color: var(--green-text-color);
  font-size: 13px;
  font-weight: 700;
  margin-top: 10px;
}

.name p {
  color: var(--grey-text-color);
  font-size: 11px;
  font-weight: 600;
  margin-top: -9px;
}

/* MAP */
.map-section {
  height: 100vh;
  padding: 2rem 9%;
}

.map-section h3 {
  color: var(--green-text-color);
  font-weight: 700;
}

.text-map h4 {
  font-weight: 600;
  color: black;
}

.map {
  max-width: 00px;
  margin: 0 auto;
}

/* slogan */
#slogan {
  height: 80vh;
}

/* FOOTER */
.icon {
  margin-top: 0.25rem; /* Sesuaikan nilai margin top agar ikon sejajar dengan baris pertama teks */
}

.address-text {
  line-height: 1.5; /* Menyesuaikan line-height untuk spasi antar baris */
}

footer {
  padding-bottom: 0;
  background-color: #fffbde;
}

footer .p {
  color: #646464;
}

/* RESPONSIF */
@media screen and (max-width: 1200px) {
  /* NAVBAR */
  .navbar {
    width: 20px;
    overflow-x: hidden;
  }
  /* NAVBAR END */

  /* SECOND SECTION */
  #second-section {
    margin-bottom: 150px;
  }

  .driver-only {
    margin-top: 170px;
    margin-left: -100px;
    animation-name: move;
    animation-duration: 5s; /* Animation lasts 5 seconds */
    width: 40%;
    height: 40%;
  }

  @keyframes move {
    from {
      transform: translateX(0px);
    } /* motorbike starts at position 0 */
    to {
      transform: translateX(130px);
    } /* motorbike moves 200px to the right */
  }
  /* SECOND SECTION END */

  /* CUSTOMER SECTION */
  .text-customer {
    margin-left: 90px;
    margin-top: 50px;
  }

  .text-customer p {
    font-size: 21px;
  }

  .text-customer h2 {
    font-size: 23px;
    width: 370px;
  }

  .text-customer h6 {
    font-size: 15px;
    width: 440px;
  }

  .card-up {
    margin-left: -200px;
    margin-right: 20px;
  }

  .up {
    width: 300px;
    height: 190px;
  }

  .down {
    width: 300px;
    height: 190px;
  }

  .card-body h5 {
    font-size: 15px;
  }

  .card-body p {
    font-size: 11px;
  }

  .name-div {
    margin-top: -9px;
  }
  /* CUSTOMER SECTION END */
}

@media screen and (max-width: 911px) {
  /* NAVBAR */
  .navbar .logo-img {
    width: 45px;
  }
  .navbar .logo-text {
    width: 60px;
  }
  .nav-item a {
    font-size: 13px;
  }
  .navbar button {
    width: 75px;
    height: 33px;
    font-size: 13px;
  }
  /* NAVBAR END */

  /* HOME */
  #home {
    background-size: 100%;
    overflow-x: hidden;
  }
  .home-content {
    margin-left: 35px;
  }
  .home-content img {
    width: 4.5rem;
  }
  .home-text h2 {
    font-size: 23px;
  }
  .home-text p {
    font-size: 15px;
  }
  .card {
    width: 25rem;
    height: 13rem;
    margin-bottom: 3rem;
  }
  .input-alamat button {
    font-size: 15px;
  }
  .input-alamat a {
    font-size: 15px;
  }
  /* HOME END */

  /* SECOND SECTION */
  #second-section {
    margin-bottom: 90px;
  }

  .driver-bg {
    margin-top: 40px;
    margin-left: -70px;
    width: 300% !important;
    height: 300% !important;
  }

  .driver-only {
    margin-top: 40px;
    margin-left: -40px;
    animation-name: move;
    animation-duration: 5s; /* Animation lasts 5 seconds */
    width: 40%;
    height: 40%;
  }

  @keyframes move {
    from {
      transform: translateX(0px);
    } /* motorbike starts at position 0 */
    to {
      transform: translateX(90px);
    } /* motorbike moves 200px to the right */
  }

  .layer {
    display: none;
  }

  .content {
    margin-top: 17px;
  }

  .text-waryung h2 {
    font-size: 30px;
    width: 408px;
  }

  .text-waryung p {
    font-size: 17px;
  }

  .point {
    margin-top: 30px;
    margin-left: 10px;
  }

  .point p {
    font-size: 14px;
    display: inline;
  }

  .btn-pesan {
    font-size: 14px;
    border-radius: 10px;
  }
  /* SECOND SECTION END */

  /* CUSTOMER SECTION */
  .text-customer {
    margin-left: 90px;
    margin-top: 50px;
  }

  .text-customer p {
    font-size: 21px;
  }

  .text-customer h2 {
    font-size: 25px;
    width: 470px;
  }

  .text-customer h6 {
    font-size: 15px;
    width: 540px;
  }

  .button {
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    margin-top: 2rem;
  }

  .col-lg-3 {
    margin-left: -110px;
    margin-top: 90px;
  }

  .card-body h5 {
    font-size: 16px;
  }

  .card-body p {
    font-size: 12px;
  }

  .up {
    width: 320px;
    height: 210px;
  }

  .down {
    width: 320px;
    height: 210px;
  }
  /* CUSTOMER SECTION END */

  /* JAJANAN */
  .jajanan {
    height: 100vh;
    margin-bottom: 5rem;
  }

  /* Slogan Section */
  #slogan {
    height: 60vh;
    padding: 2rem 9%;
  }
  #slogan-img {
    content: url(assets/card-section/small.svg);
  }
}

@media screen and (max-width: 768px) {
  /* NAVBAR */
  .navbar .logo-img {
    width: 35px;
  }
  .navbar .logo-text {
    width: 50px;
  }
  /* NAVBAR END */

  /* HOME */
  #home {
    background-size: 100%;
    overflow-x: hidden;
  }
  /* HOME END */

  /* SECOND SECTION */
  #second-section {
    margin-bottom: -250px;
  }

  .driver-bg {
    margin-top: 28px;
    margin-left: -28px;
  }

  .driver-only {
    width: 38%;
    height: 38%;
  }

  .text-waryung h2 {
    font-size: 24px;
    width: 308px;
  }
  /* SECOND SECTION END */

  /* CUSTOMER SECTION */
  .card-body h5 {
    font-size: 15px;
  }

  .card-body p {
    font-size: 11px;
  }

  .name-div {
    margin-top: -9px;
  }

  .up {
    width: 300px;
    height: 190px;
  }

  .down {
    width: 300px;
    height: 190px;
  }
  /* CUSTOMER SECTION */

  /* SECTION JAJAN */
  .jajanan {
    padding: 2rem 13.5%;
    margin-bottom: -50px;
  }
  .jajanan h2 {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  .jajanan .h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .card-jajanan {
    width: 30vw;
  }

  .btn {
    padding: auto;
  }
  /* SECTION JAJAN END */

  /* FOOTER */
  footer .col-md-3,
  footer .col-md-2,
  footer .col-md-4 {
    text-align: left;
    margin: 0 auto;
  }

  footer .d-flex {
    display: block;
    text-align: left;
  }

  footer .d-flex img,
  footer .d-flex p {
    display: block;
    margin: 0 auto;
    text-align: left;
  }
  /* FOOTER END */
}

@media screen and (max-width: 617px) {
  /* NAVBAR */
  .nav-item a {
    font-size: 10px;
  }

  .navbar button {
    width: 60px;
    height: 25px;
    font-size: 11px;
    padding-bottom: 20px;
  }
  /* NAVBAR END */

  /* SECOND SECTION */
  .driver-bg {
    display: none;
  }

  .driver-only {
    display: none;
  }

  .content {
    margin-left: 50px;
  }

  .text-waryung h2 {
    font-size: 30px;
    width: 497px;
  }

  .btn-pesan {
    margin-left: 50px;
  }
  /* SECOND SECTION */

  /* MAKAN */
  .card-makanan {
    width: 300px;
  }
  .pengecualian .food-img img {
    height: 10rem;
  }

  .food-img img {
    width: 70px;
  }

  .desc h3 {
    font-size: 15px;
  }

  /* CUSTOMER SECTION */
  .text-customer {
    margin-left: 20px;
    margin-top: 50px;
  }

  .text-customer p {
    font-size: 19px;
  }

  .text-customer h2 {
    width: 470px;
  }

  .text-customer h6 {
    font-size: 14px;
    width: 470px;
  }

  .col-lg-3 {
    margin-left: -110px;
    margin-top: 90px;
  }

  .card-up {
    margin-left: -160px;
    margin-right: 20px;
  }
  
  .up {
    width: 320px;
    height: 210px;
  }

  .down {
    display: none;
  }

  .card-body h5 {
    font-size: 18px;
  }

  .card-body p {
    font-size: 13px;
  }
  /* CUSTOMER SECTION END */

  /* cardsection */
  .card-jajanan {
    width: 65vw;
  }
}

@media screen and (max-width: 450px) {
  /* NAVBAR */
  .navbar .logo-img {
    width: 25px;
  }
  .navbar .logo-text {
    width: 40px;
  }
  .nav-item a {
    font-size: 9px;
  }
  .navbar button {
    width: 50px;
    height: 20px;
    font-size: 9px;
    padding-bottom: 18px;
  }
  /* NAVBAR END */

  /* SECOND SECTION */
  .content {
    margin-left: 50px;
  }

  .text-waryung h2 {
    font-size: 26px;
    width: 397px;
  }
  /* SECOND SECTION */

  /* CUSTOMER SECTION */
  .text-customer p {
    font-size: 17px;
  }

  .text-customer h2 {
    font-size: 22px;
    width: 350px;
  }

  .text-customer h6 {
    font-size: 12px;
    width: 350px;
  }
  /* CUSTOMER SECTION END */
}
