@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

:root {
  --tulisan-ijo: #00880c;
  --text-color: #000;
  --p-color: #b3b4bb;
  --text-kuning: #FFCE1F;
  --yellow-text-color: #ffce1f;
  --green-text-color: #00880c;
  --black-text-color: #000;
}

#makan {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.judul {
    margin-bottom: 70px;
}

.food-img img{
    width: 100px;
}

.h1 {
  color: var(--text-color);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.h2 {
  color: var(--tulisan-ijo);
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 27px;
}  

span{
  color: var(--text-kuning);
}

.desc h3 {
  color: var(--text-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.desc p {
  color: var(--p-color);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-makanan {
  border-radius: 9px;
  border: 1px solid #dcdbdb;
  background: #fff;
  gap: 25px;
  transition: 0.3s ease;
  width: 359.115px;
  padding-top: 20px;
  padding-left: 25px;
}

.card-makanan:hover {
  border: 1px solid #ffbe1e;
}


.marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.marqueeOne {
    display: flex;
    animation: marqueeScrollOne 20s linear infinite reverse;
    cursor: pointer;
}

.marqueeTwo {
    display: flex;
    animation: marqueeScrollOne 20s linear infinite;
    cursor: pointer;
}


/* SECTION JAJANAN */
.jajanan {
  height: 100vh;
}
.jajanan .h1{
  font-weight: 700;
  font-size: 35px;
  width: 400px;
}
.jajanan h2 {
  font-weight: 700;
  font-size: 25px;
}

.jajanan-card{
  gap: 47px;
}
.card-jajanan{
  width: 280px;
  border-radius: 20px;
border: 1px solid #DCDBDB;
}
.card-jajanan-img{
  width: 280px;
}

.card-jajanan h3 {
  font-size: 18px;
  font-weight: 600;
}

.card-jajanan p {
  color: var(--p-color);
  font-weight: 600;
  font-size: 15px;
}

.card-jajanan .ijo{
  color: var(--tulisan-ijo);
  font-size: 14px;
}

.card-jajanan .bintang{
  font-size: 13px;
}

/* NAVBAR */
.navbar{
    background-color: white;
}
.navbar .navbar-logo {
    font-weight: 600;
}
.button {
    background: #FFCE1F;
}

/* HOME */
#home{
    background-image: url(assets/home-bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
}
.card {
    width: 30rem;
    box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.1);
    left: 50%;
    transform: translateX(-100%);
}

/* SECOND SECTION */
.driver-bg {
  margin-top: 40px;
  margin-left: -70px;
}

.driver-only {
  margin-top: 140px;
  margin-left: -70px;
  animation-name: move;
  animation-duration: 2s; /* Animation lasts 5 seconds */
  animation-iteration-count: infinite;  /* Animation repeats forever */
}

@keyframes move {
  from { transform: translateX(0px); }  /* motorbike starts at position 0 */
  to { transform: translateX(200px); }  /* motorbike moves 200px to the right */
}

.layer {
  width: 130%;
  height: 100%;
}

.content {
  margin-top: 117px;
}

.text h2 {
  color: var(--black-text-color);
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  width: 508px;
}

.text p {
  color: var(--green-text-color);
  font-size: 25px;
  font-weight: 600;
  width: 450px;
}

.point {
  margin-top: 30px;
  margin-left: 10px;
}

.point img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-right: 10px;
  margin-top: 3px;

}

.point p {
  color: var(--black-text-color);
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
}

.btn-pesan {
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
}

/* SECOND SECTION END */



/* .marquee img {
    margin-right: 20px; /* Adjust as needed */


@keyframes marqueeScrollOne {
    0% {
        transform: translateX(90%);
    }
    100% {
        transform: translateX(-90%);
    }
}
@keyframes marqueeScrollTwo {
    0% {
        transform: translateX(90%);
    }
    100% {
        transform: translateX(-90%);
    }
}
